body{
    background-color: #E5E5E5;
}

.moment-img{
    height: 364px;
    width : 546px;
}
@media only screen and (max-width : 767px){


    .img-height{
        height: 586px;
    }

    .our-moment{
        display: flex;
        flex-direction: column;
    
    }

    .moment-img{
        width: 100%;
        height: 214px;
    }



}